<div id="pdv_14265" class="pdv_class" title="" style="width:761px;height:42px;top:0px;left:221px; z-index:9">
    <div id="spdv_14265" class="pdv_content" style="overflow:hidden;width:100%;height:100%">
        <div class="pdv_border" style="border: 0px; height: 42px; padding: 0px; margin: 0px; background-image: url(<%= asset_path("tiansen/border/title.png") %>); background-position: 0px 0px; background-repeat: no-repeat no-repeat;">
	        <div style="float:left;font:14px/40px Simsun;color:#303030;"></div> 
            <div id="nav">
                您现在的位置：<a href="/"><%= Settings.company.home_title %></a>  &gt; <a href="<%= request.url %>"><%= @cur_title %></a> 
            </div>
        </div>
    </div>
</div>