<div id='pdv_14539' class='pdv_class'  title='公司简介' style='width:520px;height:43px;top:0px;left:221px; z-index:1'>
    <div id='spdv_14539' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
        <div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;">
            <div style="height:38px;border:0px;padding:0;margin:0;background:url(<%= asset_path('tiansen/title.png') %>) repeat-x">
                <div style="float:left;text-align:left;padding:0 0 0 18px;font:12px/38px Verdana,microsoft yahei,Arial;color:#fff;">
	                公司简介
	            </div>
		        <div style="float:right;width:50px;height:38px;margin-right:5px"><a href="/p/about-us" style="display:inline;"><img src="<%= asset_path('tiansen/more.png') %>" style="border:0px;margin-top:16px"></a></div>
            </div>
            <div style="margin:0px;padding:0px;">&nbsp;</div>
        </div>
    </div>
</div>

<div id='pdv_14475' class='pdv_class'  title='多行文字' style='width:475px;height:159px;top:62px;left:248px; z-index:11'>
    <div id='spdv_14475' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
        <div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	        <div style="height:25px;margin:1px;display:none;background:;">
		        <div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">
		            多行文字
		        </div>
		        <div style="float:right;margin-right:10px;display:none">
		            <a href="/p/about-us" style="line-height:25px;color:">更多</a>
		        </div>
	        </div>
            <div style="padding:0px">
                <div style="padding:0px;color:#505050;font:12px/25px simsun, Arial, Helvetica, sans-serif;text-indent:2em"><%= Settings.company.about_us %><br />
                </div>
            </div>
        </div>
    </div>
</div>